<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <!--<add id="OrviSoft_AddonProducts::parent" title="Addon Products" module="OrviSoft_AddonProducts" sortOrder="10" resource="OrviSoft_AddonProducts::parent"/>-->
		<add id="OrviSoft_AddonProducts::accessories" title="Addon Products" module="OrviSoft_AddonProducts" sortOrder="40" parent="Magento_Catalog::inventory" action="addonproducts/accessories" resource="OrviSoft_AddonProducts::accessories"/>

    </menu>
</config>